.footer_outer_container {
  background-color: #111;
  color: grey;
  display: flex;
  justify-content: center;
  /*  height: 40vh;
  margin-top: 30px;*/
}
.footer_inner_container {
  width: 60%;
  /*padding: 40px;*/
}
.footer_icons {
  width: 12%;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;

  color: #fff;
}
.footer_data {
  display: flex;
  justify-content: space-between;
}
.footer_data ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 12vh;
}
.footer_data ul li {
  cursor: pointer;
}
.service_code {
  display: flex;
  align-items: center;
  justify-content: center;
  border: #fff 1px solid;
  width: 10%;
  margin: 10px 0;
  cursor: pointer;
}
.copy-write {
  font-size: 12px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .footer_inner_container {
    width: 100%;
    padding: 40px;
    margin: auto 0;
    margin-left: -5px;
  }
  .footer_outer_container {
    height: 50vh;
    margin-left: -22px;
  }
  .footer_data ul {
    height: 20vh;
  }
  .service_code {
    border: none;
  }
}
